.ActionsPalette {
  width: 100%;
  background-color: #2c2f37;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr repeat(11, auto) 1fr;
  align-items: center;

  @media (max-width: 500px) {
    grid-template-columns: max-content repeat(8, auto);
    margin-left: 0.5rem;
  }

  .Divider {
    @media (max-width: 800px) {
      justify-self: center;
    }
  }

  .ProgramCounterText {
    margin: 0 0.5rem 0 0.5rem;
    text-align: end;
  }

  .ProgramCounter {
    margin: 0 0.5rem 0 0.5rem;
  }

  //noinspection CssUnusedSymbol
  .ActionButton {
    margin: 0.25rem 0.5rem 0.25rem 0.25rem;
  }
}