.Command {
    --line_number_min_width: 3.5ch;

    display: grid;
    grid-template-columns: minmax(1rem, 4rem) minmax(var(--line_number_min_width), calc(var(--line_number_min_width) + 1rem)) auto auto auto auto;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    cursor: pointer;
    height: 2.5rem;

    .DragHandle {
        max-width: 10rem;
        cursor: move;

        height: 100%;
        padding: 1rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .LineNumber {
        display: flex;
        padding-right: 0.5ch;
        justify-content: end;
        align-items: center;
        justify-self: end;
        color: #444;
    }

    .LineArrow {
        text-align: right;
        color: #000;

        // Moving the arrow slightly to the right, since the arrow does not take up the entire width of it's bounding box.
        margin-right: -4px;
    }

    .Divider {
        margin: 0 auto;
    }

    .CommandInput {
        text-align: center;
        margin-left: 0.5ch;
        margin-right: 0.5rem;
        min-width: 4rem;
        max-width: 10rem;
    }

    .RemoveButton {
        margin-left: 0.5rem;
    }
}