.Register {
    --line_number_min_width: 3.5ch;

    display: grid;
    grid-template-columns: var(--line_number_min_width) 1rem auto auto auto auto;
    align-items: center;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;

    .Index {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        justify-self: flex-end;
        padding-right: 0.5ch;
        color: #444;
    }

    .Divider {
        margin: 0 auto;
    }

    //noinspection CssUnusedSymbol
    .RemoveButton {
        margin-left: 0.5rem;
    }
}